# Regression model in Keras
## A - Build a baseline model

### Import libraries

In [2]:
import pandas as pd
import numpy as np

### Load data

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check dataset

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Sanity check

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Number of independent variables

In [9]:
n_cols = predictors.shape[1]

Randomly split the data into a training and test sets by holding 30% of the data for testing

### Additional step for B: normalize data

In [27]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
print('Training set shapes: {} {}'.format(X_train.shape, y_train.shape))
print('Testing set shapes: {} {}'.format(X_test.shape, y_test.shape))

Training set shapes: (721, 8) (721,)
Testing set shapes: (309, 8) (309,)

### Build a neural network

Characteristics:

* One hidden layer of 10 nodes, and a ReLU activation function
* Use the **adam** optimizer and the **mean squared error**  as the loss function

In [29]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Define regression model

In [30]:
def baseline_regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Compile the model

In [31]:
model = baseline_regression_model()

### Train the model on the normalized training data using 50 epochs

In [32]:
model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=1)

Train on 504 samples, validate on 217 samples
Epoch 1/50
504/504 [==============================] - 3s 7ms/step - loss: 1714.0709 - val_loss: 1579.1366
Epoch 2/50
504/504 [==============================] - 0s 515us/step - loss: 1700.2464 - val_loss: 1567.5343
Epoch 3/50
504/504 [==============================] - 0s 550us/step - loss: 1687.4342 - val_loss: 1556.1353
Epoch 4/50
504/504 [==============================] - 0s 484us/step - loss: 1674.4708 - val_loss: 1545.3319
Epoch 5/50
504/504 [==============================] - 0s 490us/step - loss: 1662.2581 - val_loss: 1534.6414
Epoch 6/50
504/504 [==============================] - 1s 1ms/step - loss: 1650.4118 - val_loss: 1524.0501
Epoch 7/50
504/504 [==============================] - 0s 509us/step - loss: 1638.5095 - val_loss: 1513.8472
Epoch 8/50
504/504 [==============================] - 0s 477us/step - loss: 1627.2487 - val_loss: 1503.6790
Epoch 9/50
504/504 [==============================] - 1s 1000us/step - loss: 1615.7989 - val_loss: 1493.5520
Epoch 10/50
504/504 [==============================] - 0s 743us/step - loss: 1604.5756 - val_loss: 1483.4612
Epoch 11/50
504/504 [==============================] - 0s 477us/step - loss: 1593.2577 - val_loss: 1473.3545
Epoch 12/50
504/504 [==============================] - 0s 502us/step - loss: 1582.0424 - val_loss: 1463.2316
Epoch 13/50
504/504 [==============================] - 0s 712us/step - loss: 1570.7661 - val_loss: 1453.0622
Epoch 14/50
504/504 [==============================] - 0s 715us/step - loss: 1559.2933 - val_loss: 1442.8935
Epoch 15/50
504/504 [==============================] - 0s 748us/step - loss: 1548.1505 - val_loss: 1432.2553
Epoch 16/50
504/504 [==============================] - 0s 869us/step - loss: 1536.3631 - val_loss: 1421.7351
Epoch 17/50
504/504 [==============================] - 0s 754us/step - loss: 1524.6216 - val_loss: 1410.8892
Epoch 18/50
504/504 [==============================] - 0s 831us/step - loss: 1512.5799 - val_loss: 1400.0359
Epoch 19/50
504/504 [==============================] - 0s 672us/step - loss: 1500.6329 - val_loss: 1388.7037
Epoch 20/50
504/504 [==============================] - 0s 640us/step - loss: 1488.0102 - val_loss: 1377.3780
Epoch 21/50
504/504 [==============================] - 0s 482us/step - loss: 1475.4368 - val_loss: 1365.7936
Epoch 22/50
504/504 [==============================] - 0s 518us/step - loss: 1462.5961 - val_loss: 1353.9945
Epoch 23/50
504/504 [==============================] - 0s 523us/step - loss: 1449.6775 - val_loss: 1342.0237
Epoch 24/50
504/504 [==============================] - 0s 557us/step - loss: 1436.4875 - val_loss: 1329.7819
Epoch 25/50
504/504 [==============================] - 0s 530us/step - loss: 1422.8101 - val_loss: 1317.5536
Epoch 26/50
504/504 [==============================] - 0s 509us/step - loss: 1409.5273 - val_loss: 1304.7846
Epoch 27/50
504/504 [==============================] - 0s 601us/step - loss: 1395.6195 - val_loss: 1291.9464
Epoch 28/50
504/504 [==============================] - 0s 597us/step - loss: 1381.3414 - val_loss: 1279.1824
Epoch 29/50
504/504 [==============================] - 0s 478us/step - loss: 1367.0592 - val_loss: 1266.1268
Epoch 30/50
504/504 [==============================] - 0s 510us/step - loss: 1352.6211 - val_loss: 1252.7448
Epoch 31/50
504/504 [==============================] - 0s 480us/step - loss: 1337.8229 - val_loss: 1239.1477
Epoch 32/50
504/504 [==============================] - 0s 599us/step - loss: 1322.7301 - val_loss: 1225.4575
Epoch 33/50
504/504 [==============================] - 0s 511us/step - loss: 1307.4310 - val_loss: 1211.4087
Epoch 34/50
504/504 [==============================] - 0s 512us/step - loss: 1292.0379 - val_loss: 1197.0381
Epoch 35/50
504/504 [==============================] - 0s 641us/step - loss: 1276.0460 - val_loss: 1182.7636
Epoch 36/50
504/504 [==============================] - 0s 521us/step - loss: 1260.1429 - val_loss: 1168.4251
Epoch 37/50
504/504 [==============================] - 0s 436us/step - loss: 1244.3683 - val_loss: 1153.4530
Epoch 38/50
504/504 [==============================] - 0s 483us/step - loss: 1228.0134 - val_loss: 1138.5835
Epoch 39/50
504/504 [==============================] - 0s 504us/step - loss: 1211.4888 - val_loss: 1123.6882
Epoch 40/50
504/504 [==============================] - 0s 506us/step - loss: 1195.0407 - val_loss: 1108.6227
Epoch 41/50
504/504 [==============================] - 0s 567us/step - loss: 1178.4785 - val_loss: 1093.1685
Epoch 42/50
504/504 [==============================] - 0s 460us/step - loss: 1161.5769 - val_loss: 1077.7341
Epoch 43/50
504/504 [==============================] - 0s 487us/step - loss: 1144.7425 - val_loss: 1062.1199
Epoch 44/50
504/504 [==============================] - ETA: 0s - loss: 1160.52 - 0s 540us/step - loss: 1127.7749 - val_loss: 1046.4775
Epoch 45/50
504/504 [==============================] - 0s 714us/step - loss: 1110.7209 - val_loss: 1030.8085
Epoch 46/50
504/504 [==============================] - 0s 513us/step - loss: 1093.4282 - val_loss: 1015.3951
Epoch 47/50
504/504 [==============================] - 0s 634us/step - loss: 1076.6048 - val_loss: 999.5714
Epoch 48/50
504/504 [==============================] - 0s 506us/step - loss: 1059.4703 - val_loss: 983.6912
Epoch 49/50
504/504 [==============================] - 0s 475us/step - loss: 1042.0684 - val_loss: 968.0308
Epoch 50/50
504/504 [==============================] - 0s 561us/step - loss: 1024.9167 - val_loss: 952.2192

### Evaluate the model on the normalized test data
Compute the mean squared error between the predicted concrete strength and the actual concrete strength

In [33]:
from sklearn.metrics import mean_squared_error
yhat = model.predict(X_test)
print("MSE: %.4f" % mean_squared_error(y_test , yhat))

MSE: 930.0869

### Repeat splitting, training and evaluation 50 times

Create a list of 50 MSE (don't forget to normalize)

In [34]:
mse_list = list()

for i in range(50):
    # Train test split
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    # Compile and train the model
    model = baseline_regression_model()
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)
    # Predict based on test set and calculate MSE
    yhat = model.predict(X_test)
    mse = mean_squared_error(y_test , yhat)
    mse_list.append(mse)
    print("Iteration #%d --- MSE: %.4f" % (i+1, mse))

Iteration #1 --- MSE: 788.5825
Iteration #2 --- MSE: 575.5257
Iteration #3 --- MSE: 584.6038
Iteration #4 --- MSE: 622.8724
Iteration #5 --- MSE: 540.8183
Iteration #6 --- MSE: 628.3225
Iteration #7 --- MSE: 444.8380
Iteration #8 --- MSE: 622.6691
Iteration #9 --- MSE: 735.0844
Iteration #10 --- MSE: 709.2830
Iteration #11 --- MSE: 515.2374
Iteration #12 --- MSE: 601.6213
Iteration #13 --- MSE: 696.4471
Iteration #14 --- MSE: 582.7383
Iteration #15 --- MSE: 790.4270
Iteration #16 --- MSE: 714.3932
Iteration #17 --- MSE: 601.6921
Iteration #18 --- MSE: 649.0747
Iteration #19 --- MSE: 686.1694
Iteration #20 --- MSE: 628.1253
Iteration #21 --- MSE: 779.2245
Iteration #22 --- MSE: 721.1636
Iteration #23 --- MSE: 639.0287
Iteration #24 --- MSE: 743.1776
Iteration #25 --- MSE: 690.6295
Iteration #26 --- MSE: 671.2903
Iteration #27 --- MSE: 825.9683
Iteration #28 --- MSE: 537.9190
Iteration #29 --- MSE: 502.3863
Iteration #30 --- MSE: 552.5596
Iteration #31 --- MSE: 610.7293
Iteration #32 --- MSE: 771.7849
Iteration #33 --- MSE: 564.4161
Iteration #34 --- MSE: 586.1515
Iteration #35 --- MSE: 609.3545
Iteration #36 --- MSE: 473.0674
Iteration #37 --- MSE: 605.5920
Iteration #38 --- MSE: 804.5133
Iteration #39 --- MSE: 537.1048
Iteration #40 --- MSE: 920.8393
Iteration #41 --- MSE: 763.1542
Iteration #42 --- MSE: 550.7143
Iteration #43 --- MSE: 575.3568
Iteration #44 --- MSE: 418.0162
Iteration #45 --- MSE: 742.9897
Iteration #46 --- MSE: 963.8922
Iteration #47 --- MSE: 481.5461
Iteration #48 --- MSE: 799.6763
Iteration #49 --- MSE: 873.1515
Iteration #50 --- MSE: 602.6325

### Report the mean and the standard deviation of the mean squared errors

In [35]:
print("Mean of MSE: %.4f" % np.mean(mse_list))
print("Standard deviation of MSE: %.4f" % np.std(mse_list))

Mean of MSE: 652.7311
Standard deviation of MSE: 120.2288

The mean of MSE for normalized data (652.7311) was higher than mean MSE from case A (334.7935)