# Regression model in Keras
## A - Build a baseline model

### Import libraries

In [1]:
import pandas as pd
import numpy as np

### Load data

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check dataset

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Sanity check

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Number of independent variables

In [8]:
n_cols = predictors.shape[1]

Randomly split the data into a training and test sets by holding 30% of the data for testing

### Additional step for B: normalize data

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
print('Training set shapes: {} {}'.format(X_train.shape, y_train.shape))
print('Testing set shapes: {} {}'.format(X_test.shape, y_test.shape))

Training set shapes: (721, 8) (721,)
Testing set shapes: (309, 8) (309,)

### Build a neural network

Characteristics:

* One hidden layer of 10 nodes, and a ReLU activation function
* Use the **adam** optimizer and the **mean squared error**  as the loss function

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Define regression model (Case D: 3 hidden layers)

In [12]:
def baseline_regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Compile the model

In [13]:
model = baseline_regression_model()

### Train the model on the normalized training data using 50 epochs

In [14]:
model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=1)

Train on 504 samples, validate on 217 samples
Epoch 1/50
504/504 [==============================] - 1s 2ms/step - loss: 1609.1899 - val_loss: 1476.6919
Epoch 2/50
504/504 [==============================] - 0s 706us/step - loss: 1593.2775 - val_loss: 1458.9716
Epoch 3/50
504/504 [==============================] - 0s 503us/step - loss: 1573.3873 - val_loss: 1436.9788
Epoch 4/50
504/504 [==============================] - 0s 448us/step - loss: 1549.2096 - val_loss: 1407.8237
Epoch 5/50
504/504 [==============================] - 0s 438us/step - loss: 1516.0656 - val_loss: 1369.4890
Epoch 6/50
504/504 [==============================] - 0s 523us/step - loss: 1472.4669 - val_loss: 1318.8607
Epoch 7/50
504/504 [==============================] - 0s 517us/step - loss: 1415.2460 - val_loss: 1255.5677
Epoch 8/50
504/504 [==============================] - 0s 514us/step - loss: 1342.0195 - val_loss: 1176.8950
Epoch 9/50
504/504 [==============================] - 0s 474us/step - loss: 1251.4344 - val_loss: 1081.5646
Epoch 10/50
504/504 [==============================] - 0s 552us/step - loss: 1144.0324 - val_loss: 970.3178
Epoch 11/50
504/504 [==============================] - 0s 589us/step - loss: 1019.1135 - val_loss: 849.4137
Epoch 12/50
504/504 [==============================] - 0s 518us/step - loss: 884.3219 - val_loss: 721.6198
Epoch 13/50
504/504 [==============================] - 0s 473us/step - loss: 745.1583 - val_loss: 599.6431
Epoch 14/50
504/504 [==============================] - 0s 509us/step - loss: 615.3338 - val_loss: 493.9222
Epoch 15/50
504/504 [==============================] - 0s 709us/step - loss: 502.9499 - val_loss: 413.4467
Epoch 16/50
504/504 [==============================] - 0s 588us/step - loss: 420.9468 - val_loss: 352.2707
Epoch 17/50
504/504 [==============================] - 0s 521us/step - loss: 357.7141 - val_loss: 310.0332
Epoch 18/50
504/504 [==============================] - 0s 631us/step - loss: 314.3664 - val_loss: 278.2512
Epoch 19/50
504/504 [==============================] - 0s 554us/step - loss: 284.9733 - val_loss: 253.9096
Epoch 20/50
504/504 [==============================] - 0s 517us/step - loss: 261.2020 - val_loss: 234.7067
Epoch 21/50
504/504 [==============================] - 0s 549us/step - loss: 243.8317 - val_loss: 219.5269
Epoch 22/50
504/504 [==============================] - 0s 521us/step - loss: 230.1494 - val_loss: 207.7406
Epoch 23/50
504/504 [==============================] - 0s 526us/step - loss: 220.0071 - val_loss: 197.7907
Epoch 24/50
504/504 [==============================] - 0s 544us/step - loss: 211.0928 - val_loss: 189.6770
Epoch 25/50
504/504 [==============================] - 0s 553us/step - loss: 203.7556 - val_loss: 183.3128
Epoch 26/50
504/504 [==============================] - 0s 445us/step - loss: 198.0417 - val_loss: 177.7873
Epoch 27/50
504/504 [==============================] - 0s 470us/step - loss: 192.6046 - val_loss: 172.9625
Epoch 28/50
504/504 [==============================] - 0s 593us/step - loss: 187.7764 - val_loss: 169.1865
Epoch 29/50
504/504 [==============================] - 0s 559us/step - loss: 183.6744 - val_loss: 165.0824
Epoch 30/50
504/504 [==============================] - 0s 550us/step - loss: 179.5572 - val_loss: 162.6695
Epoch 31/50
504/504 [==============================] - 0s 473us/step - loss: 175.6920 - val_loss: 159.1725
Epoch 32/50
504/504 [==============================] - 0s 438us/step - loss: 171.7968 - val_loss: 155.4539
Epoch 33/50
504/504 [==============================] - 0s 510us/step - loss: 168.3311 - val_loss: 152.6741
Epoch 34/50
504/504 [==============================] - 0s 783us/step - loss: 164.5384 - val_loss: 149.1539
Epoch 35/50
504/504 [==============================] - 0s 645us/step - loss: 160.6602 - val_loss: 146.0643
Epoch 36/50
504/504 [==============================] - 0s 598us/step - loss: 157.3973 - val_loss: 143.4766
Epoch 37/50
504/504 [==============================] - 0s 478us/step - loss: 154.1937 - val_loss: 140.8624
Epoch 38/50
504/504 [==============================] - 0s 789us/step - loss: 150.7839 - val_loss: 137.7647
Epoch 39/50
504/504 [==============================] - 0s 558us/step - loss: 147.8616 - val_loss: 135.3671
Epoch 40/50
504/504 [==============================] - 0s 717us/step - loss: 144.5273 - val_loss: 133.1778
Epoch 41/50
504/504 [==============================] - 0s 483us/step - loss: 141.5967 - val_loss: 130.6374
Epoch 42/50
504/504 [==============================] - 0s 505us/step - loss: 139.1796 - val_loss: 128.4069
Epoch 43/50
504/504 [==============================] - 0s 397us/step - loss: 136.3909 - val_loss: 126.0556
Epoch 44/50
504/504 [==============================] - 0s 367us/step - loss: 133.7840 - val_loss: 124.0536
Epoch 45/50
504/504 [==============================] - 0s 470us/step - loss: 131.4955 - val_loss: 122.4555
Epoch 46/50
504/504 [==============================] - 0s 512us/step - loss: 128.4617 - val_loss: 120.6455
Epoch 47/50
504/504 [==============================] - 0s 753us/step - loss: 126.2110 - val_loss: 118.5816
Epoch 48/50
504/504 [==============================] - 0s 476us/step - loss: 123.5367 - val_loss: 116.6687
Epoch 49/50
504/504 [==============================] - 0s 469us/step - loss: 121.0641 - val_loss: 114.7674
Epoch 50/50
504/504 [==============================] - 0s 641us/step - loss: 118.8146 - val_loss: 113.5173

### Evaluate the model on the normalized test data
Compute the mean squared error between the predicted concrete strength and the actual concrete strength

In [15]:
from sklearn.metrics import mean_squared_error
yhat = model.predict(X_test)
print("MSE: %.4f" % mean_squared_error(y_test , yhat))

MSE: 119.3276

### Repeat splitting, training and evaluation 50 times

Create a list of 50 MSE (don't forget to normalize)

In [16]:
mse_list = list()

for i in range(50):
    # Train test split
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    # Compile and train the model
    model = baseline_regression_model()
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)
    # Predict based on test set and calculate MSE
    yhat = model.predict(X_test)
    mse = mean_squared_error(y_test , yhat)
    mse_list.append(mse)
    print("Iteration #%d --- MSE: %.4f" % (i+1, mse))

Iteration #1 --- MSE: 140.9516
Iteration #2 --- MSE: 141.1927
Iteration #3 --- MSE: 149.4404
Iteration #4 --- MSE: 138.3745
Iteration #5 --- MSE: 152.5499
Iteration #6 --- MSE: 141.6761
Iteration #7 --- MSE: 132.9654
Iteration #8 --- MSE: 139.6274
Iteration #9 --- MSE: 148.3543
Iteration #10 --- MSE: 141.9607
Iteration #11 --- MSE: 142.6252
Iteration #12 --- MSE: 140.7928
Iteration #13 --- MSE: 157.9390
Iteration #14 --- MSE: 152.2507
Iteration #15 --- MSE: 155.0378
Iteration #16 --- MSE: 134.7968
Iteration #17 --- MSE: 147.2025
Iteration #18 --- MSE: 138.1682
Iteration #19 --- MSE: 137.1715
Iteration #20 --- MSE: 156.9727
Iteration #21 --- MSE: 152.2563
Iteration #22 --- MSE: 143.6638
Iteration #23 --- MSE: 138.9471
Iteration #24 --- MSE: 154.6431
Iteration #25 --- MSE: 150.7455
Iteration #26 --- MSE: 143.1762
Iteration #27 --- MSE: 133.1164
Iteration #28 --- MSE: 133.7625
Iteration #29 --- MSE: 142.0956
Iteration #30 --- MSE: 151.6139
Iteration #31 --- MSE: 150.0335
Iteration #32 --- MSE: 153.2191
Iteration #33 --- MSE: 144.8884
Iteration #34 --- MSE: 142.0122
Iteration #35 --- MSE: 145.5323
Iteration #36 --- MSE: 138.4403
Iteration #37 --- MSE: 143.4074
Iteration #38 --- MSE: 145.4455
Iteration #39 --- MSE: 144.6776
Iteration #40 --- MSE: 118.6591
Iteration #41 --- MSE: 136.7591
Iteration #42 --- MSE: 127.8063
Iteration #43 --- MSE: 138.6337
Iteration #44 --- MSE: 125.4739
Iteration #45 --- MSE: 148.4513
Iteration #46 --- MSE: 156.6866
Iteration #47 --- MSE: 146.6012
Iteration #48 --- MSE: 146.3269
Iteration #49 --- MSE: 145.0610
Iteration #50 --- MSE: 141.1294

### Report the mean and the standard deviation of the mean squared errors

In [17]:
print("Mean of MSE: %.4f" % np.mean(mse_list))
print("Standard deviation of MSE: %.4f" % np.std(mse_list))

Mean of MSE: 143.4663
Standard deviation of MSE: 8.0976

The mean of MSE in case D (143.4663) was ~4.5 times less than the mean of MSE for normalized data in case B (652.7311)