# Regression model in Keras
## A - Build a baseline model

### Import libraries

In [1]:
import pandas as pd
import numpy as np

### Load data

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check dataset

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Sanity check

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Number of independent variables

In [8]:
n_cols = predictors.shape[1]

Randomly split the data into a training and test sets by holding 30% of the data for testing

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)
print('Training set shapes: {} {}'.format(X_train.shape, y_train.shape))
print('Testing set shapes: {} {}'.format(X_test.shape, y_test.shape))

Training set shapes: (721, 8) (721,)
Testing set shapes: (309, 8) (309,)

### Build a neural network

Characteristics:

* One hidden layer of 10 nodes, and a ReLU activation function
* Use the **adam** optimizer and the **mean squared error**  as the loss function

In [9]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Define regression model

In [15]:
def baseline_regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Compile the model

In [17]:
model = baseline_regression_model()

### Train the model on the training data using 50 epochs

In [18]:
model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=1)

Train on 504 samples, validate on 217 samples
Epoch 1/50
504/504 [==============================] - 1s 2ms/step - loss: 25518.8458 - val_loss: 20272.5533
Epoch 2/50
504/504 [==============================] - 0s 429us/step - loss: 15539.8593 - val_loss: 11159.3869
Epoch 3/50
504/504 [==============================] - 0s 437us/step - loss: 7538.3936 - val_loss: 4524.1465
Epoch 4/50
504/504 [==============================] - 0s 476us/step - loss: 2701.4458 - val_loss: 1333.8238
Epoch 5/50
504/504 [==============================] - 0s 401us/step - loss: 898.3173 - val_loss: 607.0625
Epoch 6/50
504/504 [==============================] - 0s 898us/step - loss: 620.7228 - val_loss: 535.0875
Epoch 7/50
504/504 [==============================] - 0s 478us/step - loss: 556.5969 - val_loss: 476.2024
Epoch 8/50
504/504 [==============================] - 0s 434us/step - loss: 488.9016 - val_loss: 431.3691
Epoch 9/50
504/504 [==============================] - 0s 470us/step - loss: 437.0172 - val_loss: 393.7778
Epoch 10/50
504/504 [==============================] - 0s 442us/step - loss: 395.9419 - val_loss: 360.0887
Epoch 11/50
504/504 [==============================] - 0s 635us/step - loss: 359.0789 - val_loss: 331.6679
Epoch 12/50
504/504 [==============================] - 0s 483us/step - loss: 330.2026 - val_loss: 309.5275
Epoch 13/50
504/504 [==============================] - 0s 426us/step - loss: 304.2448 - val_loss: 289.8731
Epoch 14/50
504/504 [==============================] - 0s 396us/step - loss: 283.9260 - val_loss: 274.5283
Epoch 15/50
504/504 [==============================] - 0s 589us/step - loss: 266.6705 - val_loss: 258.8909
Epoch 16/50
504/504 [==============================] - 0s 409us/step - loss: 252.6131 - val_loss: 249.0641
Epoch 17/50
504/504 [==============================] - 0s 434us/step - loss: 240.9329 - val_loss: 239.8203
Epoch 18/50
504/504 [==============================] - 0s 398us/step - loss: 231.1894 - val_loss: 233.7758
Epoch 19/50
504/504 [==============================] - 0s 403us/step - loss: 223.2549 - val_loss: 225.3656
Epoch 20/50
504/504 [==============================] - 0s 427us/step - loss: 216.0487 - val_loss: 218.9395
Epoch 21/50
504/504 [==============================] - 0s 430us/step - loss: 210.5930 - val_loss: 217.1138
Epoch 22/50
504/504 [==============================] - 0s 553us/step - loss: 204.5669 - val_loss: 207.7531
Epoch 23/50
504/504 [==============================] - 0s 440us/step - loss: 200.2355 - val_loss: 205.0553
Epoch 24/50
504/504 [==============================] - 0s 469us/step - loss: 195.7394 - val_loss: 202.0586
Epoch 25/50
504/504 [==============================] - 0s 432us/step - loss: 192.2799 - val_loss: 201.2958
Epoch 26/50
504/504 [==============================] - 0s 442us/step - loss: 188.7241 - val_loss: 195.0257
Epoch 27/50
504/504 [==============================] - 0s 426us/step - loss: 185.1574 - val_loss: 190.5581
Epoch 28/50
504/504 [==============================] - 0s 438us/step - loss: 183.2763 - val_loss: 191.1034
Epoch 29/50
504/504 [==============================] - 0s 476us/step - loss: 179.2505 - val_loss: 184.9567
Epoch 30/50
504/504 [==============================] - 0s 477us/step - loss: 177.1759 - val_loss: 183.3397
Epoch 31/50
504/504 [==============================] - 0s 519us/step - loss: 174.7601 - val_loss: 180.8007
Epoch 32/50
504/504 [==============================] - 0s 514us/step - loss: 172.6448 - val_loss: 180.6209
Epoch 33/50
504/504 [==============================] - 0s 475us/step - loss: 170.3033 - val_loss: 177.9048
Epoch 34/50
504/504 [==============================] - 0s 478us/step - loss: 168.2213 - val_loss: 175.8445
Epoch 35/50
504/504 [==============================] - 0s 472us/step - loss: 166.4482 - val_loss: 173.6254
Epoch 36/50
504/504 [==============================] - 0s 522us/step - loss: 164.6993 - val_loss: 172.6236
Epoch 37/50
504/504 [==============================] - 0s 470us/step - loss: 163.2923 - val_loss: 168.9306
Epoch 38/50
504/504 [==============================] - 0s 396us/step - loss: 161.5505 - val_loss: 169.4692
Epoch 39/50
504/504 [==============================] - 0s 464us/step - loss: 160.5243 - val_loss: 167.1626
Epoch 40/50
504/504 [==============================] - 0s 473us/step - loss: 158.7715 - val_loss: 166.3917
Epoch 41/50
504/504 [==============================] - 0s 598us/step - loss: 157.5705 - val_loss: 163.0777
Epoch 42/50
504/504 [==============================] - 0s 410us/step - loss: 157.3949 - val_loss: 164.4437
Epoch 43/50
504/504 [==============================] - 0s 404us/step - loss: 155.2458 - val_loss: 160.7838
Epoch 44/50
504/504 [==============================] - 0s 394us/step - loss: 154.1315 - val_loss: 161.0266
Epoch 45/50
504/504 [==============================] - 0s 504us/step - loss: 153.2539 - val_loss: 160.8217
Epoch 46/50
504/504 [==============================] - 0s 431us/step - loss: 152.1521 - val_loss: 158.6953
Epoch 47/50
504/504 [==============================] - 0s 439us/step - loss: 151.2601 - val_loss: 157.2680
Epoch 48/50
504/504 [==============================] - 0s 391us/step - loss: 150.5211 - val_loss: 157.2783
Epoch 49/50
504/504 [==============================] - 0s 437us/step - loss: 149.7502 - val_loss: 158.1407
Epoch 50/50
504/504 [==============================] - 0s 404us/step - loss: 148.9558 - val_loss: 154.3597

### Evaluate the model on the test data
Compute the mean squared error between the predicted concrete strength and the actual concrete strength

In [19]:
from sklearn.metrics import mean_squared_error
yhat = model.predict(X_test)
print("MSE: %.4f" % mean_squared_error(y_test , yhat))

MSE: 154.7548

### Repeat splitting, training and evaluation 50 times

Create a list of 50 MSE

In [22]:
mse_list = list()

for i in range(50):
    # Train test split
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)
    # Compile and train the model
    model = baseline_regression_model()
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)
    # Predict based on test set and calculate MSE
    yhat = model.predict(X_test)
    mse = mean_squared_error(y_test , yhat)
    mse_list.append(mse)
    print("Iteration #%d --- MSE: %.4f" % (i+1, mse))

Iteration #1 --- MSE: 406.4182
Iteration #2 --- MSE: 166.9024
Iteration #3 --- MSE: 174.2275
Iteration #4 --- MSE: 398.0698
Iteration #5 --- MSE: 173.6569
Iteration #6 --- MSE: 258.2557
Iteration #7 --- MSE: 234.2780
Iteration #8 --- MSE: 198.8055
Iteration #9 --- MSE: 342.0200
Iteration #10 --- MSE: 142.3787
Iteration #11 --- MSE: 1025.3545
Iteration #12 --- MSE: 122.8591
Iteration #13 --- MSE: 373.3029
Iteration #14 --- MSE: 249.4491
Iteration #15 --- MSE: 1169.2828
Iteration #16 --- MSE: 288.4709
Iteration #17 --- MSE: 220.5240
Iteration #18 --- MSE: 305.2515
Iteration #19 --- MSE: 500.5383
Iteration #20 --- MSE: 134.4287
Iteration #21 --- MSE: 434.6075
Iteration #22 --- MSE: 717.6661
Iteration #23 --- MSE: 159.5513
Iteration #24 --- MSE: 1130.1056
Iteration #25 --- MSE: 273.3882
Iteration #26 --- MSE: 239.1952
Iteration #27 --- MSE: 154.7131
Iteration #28 --- MSE: 1256.1881
Iteration #29 --- MSE: 140.2253
Iteration #30 --- MSE: 120.4231
Iteration #31 --- MSE: 225.4212
Iteration #32 --- MSE: 1133.5234
Iteration #33 --- MSE: 157.6788
Iteration #34 --- MSE: 133.3661
Iteration #35 --- MSE: 342.6189
Iteration #36 --- MSE: 163.2820
Iteration #37 --- MSE: 545.6974
Iteration #38 --- MSE: 217.9690
Iteration #39 --- MSE: 218.8940
Iteration #40 --- MSE: 125.7558
Iteration #41 --- MSE: 238.1479
Iteration #42 --- MSE: 307.4762
Iteration #43 --- MSE: 90.2918
Iteration #44 --- MSE: 358.7460
Iteration #45 --- MSE: 121.0170
Iteration #46 --- MSE: 113.7932
Iteration #47 --- MSE: 238.4007
Iteration #48 --- MSE: 116.7692
Iteration #49 --- MSE: 244.7468
Iteration #50 --- MSE: 135.5403

### Report the mean and the standard deviation of the mean squared errors

In [24]:
print("Mean of MSE: %.4f" % np.mean(mse_list))
print("Standard deviation of MSE: %.4f" % np.std(mse_list))

Mean of MSE: 334.7935
Standard deviation of MSE: 296.8284