# Regression model in Keras
## A - Build a baseline model

### Import libraries

In [1]:
import pandas as pd
import numpy as np

### Load data

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check dataset

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Sanity check

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Number of independent variables

In [8]:
n_cols = predictors.shape[1]

Randomly split the data into a training and test sets by holding 30% of the data for testing

### Additional step for B: normalize data

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
print('Training set shapes: {} {}'.format(X_train.shape, y_train.shape))
print('Testing set shapes: {} {}'.format(X_test.shape, y_test.shape))

Training set shapes: (721, 8) (721,)
Testing set shapes: (309, 8) (309,)

### Build a neural network

Characteristics:

* One hidden layer of 10 nodes, and a ReLU activation function
* Use the **adam** optimizer and the **mean squared error**  as the loss function

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Define regression model

In [12]:
def baseline_regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Compile the model

In [13]:
model = baseline_regression_model()

### Case C: Train the model on the normalized training data using 100 epochs

In [14]:
model.fit(X_train, y_train, validation_split=0.3, epochs=100, verbose=1)

Train on 504 samples, validate on 217 samples
Epoch 1/100
504/504 [==============================] - 1s 1ms/step - loss: 1650.0044 - val_loss: 1519.0872
Epoch 2/100
504/504 [==============================] - 0s 505us/step - loss: 1640.5489 - val_loss: 1509.9177
Epoch 3/100
504/504 [==============================] - 0s 648us/step - loss: 1631.2608 - val_loss: 1500.9365
Epoch 4/100
504/504 [==============================] - 0s 619us/step - loss: 1622.1750 - val_loss: 1492.0116
Epoch 5/100
504/504 [==============================] - 0s 629us/step - loss: 1613.1817 - val_loss: 1482.8848
Epoch 6/100
504/504 [==============================] - 0s 784us/step - loss: 1603.9537 - val_loss: 1473.8200
Epoch 7/100
504/504 [==============================] - 1s 1ms/step - loss: 1594.7260 - val_loss: 1464.4997
Epoch 8/100
504/504 [==============================] - 0s 754us/step - loss: 1585.2917 - val_loss: 1454.9409
Epoch 9/100
504/504 [==============================] - 0s 788us/step - loss: 1575.6320 - val_loss: 1444.9131
Epoch 10/100
504/504 [==============================] - 0s 871us/step - loss: 1565.3943 - val_loss: 1434.7143
Epoch 11/100
504/504 [==============================] - 0s 953us/step - loss: 1554.8365 - val_loss: 1423.9761
Epoch 12/100
504/504 [==============================] - 0s 514us/step - loss: 1543.8129 - val_loss: 1412.5565
Epoch 13/100
504/504 [==============================] - 0s 663us/step - loss: 1532.2825 - val_loss: 1400.6041
Epoch 14/100
504/504 [==============================] - 0s 564us/step - loss: 1520.1475 - val_loss: 1388.2940
Epoch 15/100
504/504 [==============================] - 0s 681us/step - loss: 1507.4305 - val_loss: 1375.5411
Epoch 16/100
504/504 [==============================] - 0s 584us/step - loss: 1494.4633 - val_loss: 1362.0064
Epoch 17/100
504/504 [==============================] - 0s 597us/step - loss: 1480.6353 - val_loss: 1348.0086
Epoch 18/100
504/504 [==============================] - 0s 676us/step - loss: 1466.4008 - val_loss: 1333.5829
Epoch 19/100
504/504 [==============================] - 0s 598us/step - loss: 1451.6103 - val_loss: 1318.6959
Epoch 20/100
504/504 [==============================] - 0s 730us/step - loss: 1436.5169 - val_loss: 1303.1015
Epoch 21/100
504/504 [==============================] - 0s 647us/step - loss: 1420.4862 - val_loss: 1287.4513
Epoch 22/100
504/504 [==============================] - 0s 564us/step - loss: 1404.3333 - val_loss: 1271.1060
Epoch 23/100
504/504 [==============================] - 0s 597us/step - loss: 1387.1649 - val_loss: 1254.6464
Epoch 24/100
504/504 [==============================] - 0s 512us/step - loss: 1370.0733 - val_loss: 1236.9261
Epoch 25/100
504/504 [==============================] - 0s 558us/step - loss: 1351.8861 - val_loss: 1219.2203
Epoch 26/100
504/504 [==============================] - 1s 1ms/step - loss: 1333.4401 - val_loss: 1201.2229
Epoch 27/100
504/504 [==============================] - 0s 675us/step - loss: 1314.9216 - val_loss: 1182.0281
Epoch 28/100
504/504 [==============================] - 0s 668us/step - loss: 1294.9454 - val_loss: 1163.4060
Epoch 29/100
504/504 [==============================] - 0s 590us/step - loss: 1275.1940 - val_loss: 1143.7966
Epoch 30/100
504/504 [==============================] - 0s 480us/step - loss: 1254.5599 - val_loss: 1124.2669
Epoch 31/100
504/504 [==============================] - 0s 866us/step - loss: 1233.6128 - val_loss: 1104.4806
Epoch 32/100
504/504 [==============================] - 0s 625us/step - loss: 1212.2699 - val_loss: 1084.3134
Epoch 33/100
504/504 [==============================] - 0s 479us/step - loss: 1190.5633 - val_loss: 1063.6481
Epoch 34/100
504/504 [==============================] - 0s 756us/step - loss: 1168.3960 - val_loss: 1043.0778
Epoch 35/100
504/504 [==============================] - 0s 696us/step - loss: 1145.3587 - val_loss: 1022.6444
Epoch 36/100
504/504 [==============================] - 0s 671us/step - loss: 1122.7189 - val_loss: 1001.6968
Epoch 37/100
504/504 [==============================] - 0s 400us/step - loss: 1099.6780 - val_loss: 980.3588
Epoch 38/100
504/504 [==============================] - 0s 465us/step - loss: 1076.1127 - val_loss: 959.0474
Epoch 39/100
504/504 [==============================] - 0s 676us/step - loss: 1052.2605 - val_loss: 937.9995
Epoch 40/100
504/504 [==============================] - 0s 398us/step - loss: 1029.3695 - val_loss: 916.3353
Epoch 41/100
504/504 [==============================] - 0s 476us/step - loss: 1004.7359 - val_loss: 895.8956
Epoch 42/100
504/504 [==============================] - 0s 717us/step - loss: 981.9875 - val_loss: 874.4301
Epoch 43/100
504/504 [==============================] - 0s 479us/step - loss: 957.8999 - val_loss: 853.8575
Epoch 44/100
504/504 [==============================] - 0s 426us/step - loss: 934.6689 - val_loss: 833.2649
Epoch 45/100
504/504 [==============================] - 0s 453us/step - loss: 911.2047 - val_loss: 813.2247
Epoch 46/100
504/504 [==============================] - ETA: 0s - loss: 893.703 - 0s 394us/step - loss: 888.5382 - val_loss: 793.0689
Epoch 47/100
504/504 [==============================] - 0s 433us/step - loss: 866.0929 - val_loss: 773.0208
Epoch 48/100
504/504 [==============================] - 0s 553us/step - loss: 842.9833 - val_loss: 754.3208
Epoch 49/100
504/504 [==============================] - 0s 638us/step - loss: 821.8654 - val_loss: 734.7524
Epoch 50/100
504/504 [==============================] - 0s 861us/step - loss: 800.0036 - val_loss: 716.1959
Epoch 51/100
504/504 [==============================] - 0s 437us/step - loss: 778.7697 - val_loss: 698.0279
Epoch 52/100
504/504 [==============================] - 0s 441us/step - loss: 758.6260 - val_loss: 679.9799
Epoch 53/100
504/504 [==============================] - 0s 436us/step - loss: 738.3191 - val_loss: 662.7836
Epoch 54/100
504/504 [==============================] - 0s 406us/step - loss: 718.4844 - val_loss: 646.3843
Epoch 55/100
504/504 [==============================] - 0s 450us/step - loss: 700.1591 - val_loss: 629.4372
Epoch 56/100
504/504 [==============================] - 0s 433us/step - loss: 681.1331 - val_loss: 613.4739
Epoch 57/100
504/504 [==============================] - 0s 479us/step - loss: 663.1182 - val_loss: 598.0093
Epoch 58/100
504/504 [==============================] - 0s 443us/step - loss: 645.6937 - val_loss: 582.7433
Epoch 59/100
504/504 [==============================] - 0s 367us/step - loss: 628.6734 - val_loss: 568.0606
Epoch 60/100
504/504 [==============================] - 0s 430us/step - loss: 612.1213 - val_loss: 554.0299
Epoch 61/100
504/504 [==============================] - 0s 429us/step - loss: 596.0178 - val_loss: 540.3571
Epoch 62/100
504/504 [==============================] - 0s 441us/step - loss: 580.7222 - val_loss: 527.0754
Epoch 63/100
504/504 [==============================] - 0s 473us/step - loss: 565.8261 - val_loss: 514.3472
Epoch 64/100
504/504 [==============================] - 0s 463us/step - loss: 551.4808 - val_loss: 502.1340
Epoch 65/100
504/504 [==============================] - 0s 485us/step - loss: 538.0463 - val_loss: 489.8953
Epoch 66/100
504/504 [==============================] - 0s 434us/step - loss: 524.2394 - val_loss: 478.7009
Epoch 67/100
504/504 [==============================] - ETA: 0s - loss: 513.660 - 0s 371us/step - loss: 511.9028 - val_loss: 467.3382
Epoch 68/100
504/504 [==============================] - 0s 402us/step - loss: 499.2886 - val_loss: 456.9235
Epoch 69/100
504/504 [==============================] - 0s 434us/step - loss: 487.5489 - val_loss: 446.6827
Epoch 70/100
504/504 [==============================] - 0s 506us/step - loss: 476.1744 - val_loss: 436.6748
Epoch 71/100
504/504 [==============================] - 0s 408us/step - loss: 465.4334 - val_loss: 426.8479
Epoch 72/100
504/504 [==============================] - 0s 476us/step - loss: 454.6231 - val_loss: 417.7892
Epoch 73/100
504/504 [==============================] - 0s 474us/step - loss: 444.7426 - val_loss: 408.7168
Epoch 74/100
504/504 [==============================] - 0s 448us/step - loss: 434.9386 - val_loss: 400.0992
Epoch 75/100
504/504 [==============================] - 0s 479us/step - loss: 425.7711 - val_loss: 391.6557
Epoch 76/100
504/504 [==============================] - 0s 430us/step - loss: 416.5825 - val_loss: 383.8219
Epoch 77/100
504/504 [==============================] - 0s 395us/step - loss: 408.0154 - val_loss: 376.1973
Epoch 78/100
504/504 [==============================] - 0s 470us/step - loss: 399.9982 - val_loss: 368.5041
Epoch 79/100
504/504 [==============================] - 0s 523us/step - loss: 391.7997 - val_loss: 361.3664
Epoch 80/100
504/504 [==============================] - 0s 504us/step - loss: 384.3420 - val_loss: 354.2433
Epoch 81/100
504/504 [==============================] - 0s 401us/step - loss: 376.6924 - val_loss: 347.6816
Epoch 82/100
504/504 [==============================] - 0s 471us/step - loss: 369.4711 - val_loss: 341.2242
Epoch 83/100
504/504 [==============================] - 0s 433us/step - loss: 362.4930 - val_loss: 334.5839
Epoch 84/100
504/504 [==============================] - 0s 399us/step - loss: 355.4934 - val_loss: 328.2090
Epoch 85/100
504/504 [==============================] - 0s 426us/step - loss: 348.4509 - val_loss: 321.9590
Epoch 86/100
504/504 [==============================] - 0s 444us/step - loss: 341.4530 - val_loss: 315.8141
Epoch 87/100
504/504 [==============================] - 0s 432us/step - loss: 334.7426 - val_loss: 309.2145
Epoch 88/100
504/504 [==============================] - 0s 481us/step - loss: 327.7863 - val_loss: 302.8356
Epoch 89/100
504/504 [==============================] - 0s 426us/step - loss: 320.8683 - val_loss: 296.5967
Epoch 90/100
504/504 [==============================] - 0s 469us/step - loss: 314.0109 - val_loss: 290.3942
Epoch 91/100
504/504 [==============================] - 0s 479us/step - loss: 307.3677 - val_loss: 283.9932
Epoch 92/100
504/504 [==============================] - 0s 512us/step - loss: 300.8186 - val_loss: 277.4619
Epoch 93/100
504/504 [==============================] - 0s 442us/step - loss: 293.9654 - val_loss: 271.7896
Epoch 94/100
504/504 [==============================] - 0s 402us/step - loss: 287.7357 - val_loss: 265.8872
Epoch 95/100
504/504 [==============================] - 0s 467us/step - loss: 281.4054 - val_loss: 260.1819
Epoch 96/100
504/504 [==============================] - 0s 479us/step - loss: 275.5702 - val_loss: 254.4585
Epoch 97/100
504/504 [==============================] - 0s 550us/step - loss: 269.5711 - val_loss: 249.0799
Epoch 98/100
504/504 [==============================] - 0s 444us/step - loss: 263.8477 - val_loss: 244.1221
Epoch 99/100
504/504 [==============================] - 0s 487us/step - loss: 258.7280 - val_loss: 238.8808
Epoch 100/100
504/504 [==============================] - 0s 463us/step - loss: 253.3393 - val_loss: 234.0643

### Evaluate the model on the normalized test data
Compute the mean squared error between the predicted concrete strength and the actual concrete strength

In [15]:
from sklearn.metrics import mean_squared_error
yhat = model.predict(X_test)
print("MSE: %.4f" % mean_squared_error(y_test , yhat))

MSE: 257.0532

### Repeat splitting, training (100 epochs) and evaluation 50 times

Create a list of 50 MSE (don't forget to normalize)

In [16]:
mse_list = list()

for i in range(50):
    # Train test split
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    # Compile and train the model
    model = baseline_regression_model()
    model.fit(X_train, y_train, validation_split=0.3, epochs=100, verbose=0)
    # Predict based on test set and calculate MSE
    yhat = model.predict(X_test)
    mse = mean_squared_error(y_test , yhat)
    mse_list.append(mse)
    print("Iteration #%d --- MSE: %.4f" % (i+1, mse))

Iteration #1 --- MSE: 185.7539
Iteration #2 --- MSE: 210.4115
Iteration #3 --- MSE: 186.6906
Iteration #4 --- MSE: 258.3781
Iteration #5 --- MSE: 211.6799
Iteration #6 --- MSE: 194.6441
Iteration #7 --- MSE: 190.4132
Iteration #8 --- MSE: 160.7081
Iteration #9 --- MSE: 170.5617
Iteration #10 --- MSE: 218.6364
Iteration #11 --- MSE: 376.9723
Iteration #12 --- MSE: 192.3379
Iteration #13 --- MSE: 172.3439
Iteration #14 --- MSE: 230.3449
Iteration #15 --- MSE: 174.4106
Iteration #16 --- MSE: 182.2627
Iteration #17 --- MSE: 246.1698
Iteration #18 --- MSE: 179.4448
Iteration #19 --- MSE: 274.6804
Iteration #20 --- MSE: 180.8967
Iteration #21 --- MSE: 182.7673
Iteration #22 --- MSE: 190.4786
Iteration #23 --- MSE: 205.6154
Iteration #24 --- MSE: 256.4773
Iteration #25 --- MSE: 186.7124
Iteration #26 --- MSE: 196.0078
Iteration #27 --- MSE: 232.7243
Iteration #28 --- MSE: 210.6033
Iteration #29 --- MSE: 202.0420
Iteration #30 --- MSE: 304.4335
Iteration #31 --- MSE: 174.1629
Iteration #32 --- MSE: 206.0711
Iteration #33 --- MSE: 206.9637
Iteration #34 --- MSE: 416.2824
Iteration #35 --- MSE: 195.2157
Iteration #36 --- MSE: 179.0028
Iteration #37 --- MSE: 187.9432
Iteration #38 --- MSE: 222.1056
Iteration #39 --- MSE: 191.3089
Iteration #40 --- MSE: 244.0601
Iteration #41 --- MSE: 202.1839
Iteration #42 --- MSE: 247.2491
Iteration #43 --- MSE: 208.6654
Iteration #44 --- MSE: 287.1163
Iteration #45 --- MSE: 241.5059
Iteration #46 --- MSE: 186.7391
Iteration #47 --- MSE: 178.9737
Iteration #48 --- MSE: 168.1520
Iteration #49 --- MSE: 197.5902
Iteration #50 --- MSE: 208.7082

### Report the mean and the standard deviation of the mean squared errors

In [17]:
print("Mean of MSE: %.4f" % np.mean(mse_list))
print("Standard deviation of MSE: %.4f" % np.std(mse_list))

Mean of MSE: 214.3121
Standard deviation of MSE: 48.8012

The mean of MSE for 100 epochs (214.3121) was ~3 times lower than mean MSE from case B (652.7311)